
.navbar-wrapper{
    height:120px;
    background-color:saddlebrown;
}
.row{ 
    text-align: center;
    background-color:rgb(53, 28, 12); 
    margin-left:0px;
    height:550px;
    width:100%;
    padding-top:20px;
}
.row a{
    font-size:14pt;
    padding-top:10px;
    margin-top:20px;
}
.mid h2{
    margin-top:10px;
    text-align: center;
}
.rolw{
 margin-top:20px;
}


