.container{
    margin-top:-10px;
    margin-left:135px;
    width:1080px;
    border:1px solid #d22;
}
.row{
    padding-left:200px;

}
.title_color{
    color:#98bf21;
}
*{
    background-color: rgb(219, 240, 238);
}
